html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: black;
  margin-bottom: 20px
}

a {
  display:block;
  text-decoration: none;
}

form {
  display: table;
  margin: 0 auto;
}

form div {
  display: table-row;
}

form button {
    background-color: #BBBB; /* Gray */
    border: none;
    color: black;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    width: 200px;
    margin-bottom: 10px;
}

form button:hover {
    background-color: #8888; /* Gray */
    color: black;
}

button {
  background-color: #BBBB; /* Gray */
  border: none;
  color: black;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #8888; /* Gray */
  color: black;
}
