:root {
  --element-size: 25px;
  --element-color: black;
}

html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Roboto', sans-serif;
}

h3{
  font-size: 40px;
  color: black;
}

input[type="text"]{
  width: 50px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}

p {
  font-size: var(--element-size);
  margin-bottom: 10px;
  color: var(--element-color);
}

button {
    background-color: #BBBB; /* Gray */
    border: none;
    color: black;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-top: 5px;

}

button:hover {
    background-color: #8888; /* Gray */
    color: black;
}
